body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
}

.project-list {
    list-style: none;
    padding: 0;
}

.project-list li {
    background: #ffffff;
    margin: 10px auto;
    padding: 15px;
    width: 90%;
    max-width: 600px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    text-align: center;
}

/* Projects section styling */
#project-list-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Contact section styling */
#contact-section {
    border: 2px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contact-section p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

#newsletter-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}